.inputWrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(lightgrey, 0.3);
  input {
    border: none;
    outline: none;
    background-color: transparent;
  }
  p {
    color: green;
  }
}
