.productCardWrapper {
  margin: 3rem;
  width: 26%;
  min-height: 400px;
  position: relative;
  border: 1px solid gray;
  border-radius: 4px;
  .cardInnerContainer {
    .imgWrapper {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
    }
    .allPdInfoWrapper {
      margin-top: 3rem;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      h2 {
        font-size: 1rem;
      }
      h4 {
        margin: 0.7rem 0;
      }
      .savingWrapper {
        display: flex;
        gap: 15px;
        justify-content: center;
      }
      button {
        margin-top: 1.2rem;
        width: 7rem;
        outline: none;
        border: none;
        padding: 10px 15px;
        background-color: #07bcb1;
        border-radius: 4px;
        color: white;
      }
    }
  }
  .offerBadge {
    padding: 0 5px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(173, 216, 230, 0.3);
  }
}
