.heroWrapper {
  height: calc(100vh - 3.75rem);
  .container {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 44%, 0% 100%);
    background-color: rgba(lightblue, 0.3);
    .textContainer {
      margin-top: 4rem;
      width: 50%;
      h1 {
        font-size: 2.5rem;
      }
      .smallCardWrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 2rem;
        .cardContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .cardImage {
          }
          .cardTitle {
            text-align: center;
            font-weight: 600;
          }
        }
      }
    }
    .imgContainer {
      width: 50%;
      height: 100%;
      position: relative;
      .allImgWrapper {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
